[user]
name = Jakub Stępień
email = jstepien50@gmail.com
username = St0pien
signingkey = 6DB8EB0C386CE74D

[init]
defaultBranch = main

[commit]
gpgsign = true

[tag]
gpgsign = true

[pull]
rebase = true

[core]
editor = nvim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[rerere]
	enabled = true
